.wrapper {
    width: 100%;
    border-bottom: 2px solid #534D48;
}

.info {
    margin: 120px auto 127px auto;
    max-width: 1220px;
}

.info__top {
    max-width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.info__top img {
    margin-bottom: 60px;
    margin-right: 84px;
}

.info__top__content {
    width: 808px;
    display: flex;
    justify-content: space-between;
}