.place {
    font-family: "Inter";
    font-style: normal;
    display: grid;
    grid-template-columns: 2fr 4fr;
    opacity: 0.88;
}

.img {
    margin: auto;
}

.img1 {
    width: 380px;
    height: 300px;
}

.info {
    color: #ffffff;
    margin-top: 218px;
    margin-bottom: 211px;
}

.h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 79.02%;
    margin-bottom: 10px;
}

.p1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 79.02%;
}

.p2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.p {
    margin-top: 28px;
}
