.wrap {
    display: flex;
    width: 649px;
}

.title {
    color: white;
    font-size: 20px;
    line-height: 24px;
    width: 205px;
    margin-right: 31px;
}

.Input {
    width: 406px;
    margin-bottom: 22px;
}
