.myHeader {
    display: flex;
    color: white;
    height: 217px;
    margin-left: 119px;
}

.menuWrap {
    width: 1589px;
    height: 137px;
    border-bottom: 3px solid white;
}

.menu {
    height: 137px;
    width: 1106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
}

.navbar {
    width: 714px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 20px;
    align-items: center;
}

