.wrapper {
    width: 100%;
    height: 775px;
    /*border-bottom: 4.5px solid #260901;*/
    /*box-shadow: 0 4px 4px rgba(100, 60, 25, 0.65);*/
}

.IFFPROP {
    max-width: 1255px;
    height: 616px;
    margin: 47px auto 0 auto;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    color: white;
    /*background-color: #544540;*/
}

.IFFPROP__title p{
    margin-left: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.IFFPROP__content {
    height: 557px;
    /*background-color: teal;*/
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.IFFPROP__content img {
    max-width: 139px;
}

.IFFPROP__content__list {
    margin-top: 200px;
}
