.wrapper {
    width: 100%;
    height: 775px;
    margin-bottom: 30px;
}

.IFFPROP {
    max-width: 1255px;
    height: 616px;
    margin: 47px auto 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
}

.IFFPROP__title p{
    margin-left: 46px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.IFFPROP__content {
    height: 557px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.IFFPROP__content img {
    max-width: 139px;
}

.IFFPROP__content__list {
    margin-top: 200px;
}
