.footer {
    font-family: "Inter";
    font-style: normal;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px #643c19;

    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.fon {
    display: flex;
    max-width: 100%;
    height: auto;
}

.logo {
    position: absolute;
    color: #ffffff;

    margin-left: 95px;
    padding: 0;
}

.img0 {
    width: 152px;
    height: 151px;
}

.p3 {
    text-decoration: none;
    position: absolute;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-top: 38px;
}

.info {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-left: 560px;
    margin-top: 28px;
    color: #ffffff;
    text-decoration: none;
}

.infot {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;


}

.pl {
    font-family: "Inter";
    font-style: normal;
    font-weight: 150;
    font-size: 22px;
    line-height: 29px;
    /* margin-right: 12px; gap: 25px;*/
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    gap: 20px;
    margin: 150px 0;

}

.p0 {
    display: flex;
    list-style: none;
    flex-direction: column;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-right: 12px;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin: 20px 0;

}

.p1 {
    font-weight: 100;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 0px;
    align-items: flex-end;
}

.p {
    font-weight: 150;
    font-size: 22px;
    line-height: 29px;
    /* margin-right: 12px; gap: 25px;*/
    color: #ffffff;
    text-decoration: none;
    list-style: none;

}

.ceti {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    margin-top: 2px;
}

.img1 {
    width: 90px;
    height: 67px;
    cursor: pointer;
}

.img2 {
    width: 82px;
    height: 56px;
    cursor: pointer;
}

.img3 {
    width: 60px;
    height: 63px;
    cursor: pointer;
}
