.wrapper {
    margin: auto;
    height: 299px;
    max-width: 1220px;
    display: flex;
    justify-content: flex-end;
}

.wrapperMain {
    height: 299px;
    width: 808px;
    color: white;
}

.title {
    margin-left: 24px;
    margin-top: 21px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.content {
    margin-left: 24px;

    display: flex;
    justify-content: space-between;
}

.content__main {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 60px;
}

.content__btn {
    width: 200px;
    height: 51px;
    margin-right: 40px;
}
